@import './../scss/config';

.my_reservations_sec {
  background-color: $background-color;
  display: flex;
  flex-direction: column;

  .my_reservations {
    display: flex;
    flex-direction: column;
    margin: 20px 80px;
    min-height: 100vh;

    h2 {
      text-transform: uppercase;
      font-weight: 700;
      letter-spacing: 0.3rem;
      margin: 10px;
      padding: 10px;
    }

    .reservation-details,
    .headings {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px solid black;
      padding: 10px;
      width: 100%;

      p {
        display: flex;
        width: 100%;
        justify-content: center;
      }
    }

    .headings {
      p {
        text-transform: uppercase;
        font-weight: 700;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .my_reservations_sec {
    .my_reservations {
      margin: 10px 50px;
    }
  }
}
