@import './../scss/config';

.house-sec {
  margin-left: 200px;
}

h2 {
  color: $primary-color;
  font-weight: 800;
  // margin-top: 1rem;
  margin: 0;
  padding-top: 120px;
}

.points {
  color: $sous-title;
}

.email {
  color: $sous-title;
  font-size: 0.8rem;
  padding: 0 0.5rem;
}

.house-list {
  // @include d-flex(space-around);

  width: 100%;
  flex-wrap: wrap;
  padding-bottom: 3rem;
  top: 60px;

  .houses-imgs {
    width: 200px;
    height: 180px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      transition: all 0.4s ease-in-out;

      &:hover {
        transform: scale(1.1);
        box-shadow: $box-shadow;
        opacity: 0.8;
      }
    }
  }

  h5 {
    font-weight: 800;
    text-transform: uppercase;
    margin: 1rem 0;

    a {
      color: $primary-color;
    }
  }
}

.swiper-button-next {
  width: 70px;
  height: 60px;
  background-color: rgb(151, 191, 15);
  color: #fff;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  // outline: 0;
  transition: all 0.25s ease;
  right: 0;
  top: 90px;
}

.swiper-button-prev {
  width: 70px;
  height: 60px;
  background-color: rgb(151, 191, 15);
  color: #fff;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  // outline: 0;
  transition: all 0.25s ease;
  left: 0;
  top: 90px;
}

@media only screen and (max-width: 768px) {
  .menu {
    width: 120px;

    a {
      font-size: 11px;
      padding: 12px 5px;
    }
  }

  .house-sec {
    margin-left: 120px;

    h2 {
      font-size: 14px;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 50px;
    height: 45px;

    &::after {
      font-size: inherit;
    }
  }
}
